@import url('fonts/main_font.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'StratosSkyeng', sans-serif;
}

body {
    background-size: cover;
    min-height: 100vh;
}

.content {
    max-width: 1000px; 
    margin: 0 auto;    
    padding: 40px 20px;
}

.title {
    text-align: center;
    margin-bottom: 24px;
}

.list-title {
    text-align: left;
    font-size: 22px;
    margin-bottom: 24px;
}

ul, ol {
    margin: 20px 0;
    padding-left: 20px;
}

.listEl {
    text-align: left;
    font-size: 22px;
    padding-bottom: 24px;
}

.in-one-line {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    align-items: flex-start; 
    margin-bottom: 24px;
}

.content img {
    width: 200px;
    height: auto;
    object-fit: cover; 
    border-radius: 8px; 
     box-shadow: 0 0 0 1px rgb(176, 176, 197); 
     margin-bottom: 20px;
    }
.prev-page, .next-page {
    display: inline-block;
    padding: 10px 24px;
    background-color: #303030;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 12px;
    transition: background-color 0.2s;
    font-size: 20px;
}


.prev-page:hover, .next-page:hover {
    background-color: #555;
}

.main-text {
    max-width: 600px; 
    line-height: 1.5;
    font-size: 24px;
}


.meme-img {
    width: 300px !important;
    height: auto;
    border-radius: 12px;
}

.memes-row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 24px;
    width: 100%; 
}
.nav-links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;
}

body{
    margin:0%;
    background: linear-gradient(180deg, #ffffff, #c9d3d4);
    background-size:cover;        
    background-position: center;   
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.intro {
    display: flex;
    align-items: flex-start;   
    gap: 30px;
}   